.container{
    display: flex;
}

.signature{
    height: 100%;
    margin-top: 10px;
    margin-left: 60px;
    display: flex;
    justify-content: space-around;
}

.label-upload{
    display: block;
    background-color: green;
    cursor: pointer;
    color: white;
    padding: 10px 10px;
    width: 90px;
    border-radius: 4px;
    font-size: 12px;
}

.file-name{
    color: black;
}

.label-upload-private{
    display: block;
    background-color: red;
    cursor: pointer;
    color: white;
    padding: 10px 10px;
    width: 130px;
    border-radius: 4px;
    font-size: 12px;
}

.login-container {
    width: 600px;
    height: 450px;
    margin: auto;
    background-color: white;
    z-index: 1;
    font-size: 18px;
    border-radius: 8px;
    box-shadow: 10px 10px 5px #ccc;
}