.wrapper{
    height: 60px;

}

.red{
    color: red;
}
.container{
    background-color: white;
    top: 0;
    height: 90px;
    position: fixed;
    width: 100%;
    margin-right: 45px;
    z-index: 100;
}

.content{
    
}

.logo-content{
    margin-left: 40px;
}

.menu-list{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.list-item{
    display: flex;
    list-style: none;
    align-items: center;
    margin-left: 100px;
}

.item{
    margin-left: 50px;
    color: black;
    font-size: 30px;
}

.header-text-item{
    font-size: 15px;
}

.info{

}



.link-login{
    font-size: 15px;
    color: white;
    text-decoration: none;
}